@{
    ViewData["Title"] = " Usuarios Del Sistema";
}
<h2>@ViewData["Title"]</h2>   
    
<script>
    //ESta pagina solo espara usuarios administradores asi que.
      isOnlyAdminPage(); 
    //redirectIfNoLogged();
</script>   
<ul>
    <li>
        <h5>Total De Usuarios <span id="total">@ViewBag.total</span></h5>
        <li>
            <h6>Usuarios Comunes: <span id="common-users">@ViewBag.common</span></h6>
            <h6>Administradores: <span id="admins">@ViewBag.admin</span></h6>
            <h6>Reporteros: <span id="reportes">@ViewBag.reporter</span></h6>
        </li>
    </li>
</ul>
 

<h5>Activos <span id="activos">@ViewBag.enabled</span></h5>
<h5>Desabilitados <span id="Desabilitados">@ViewBag.disabled</span></h5>
    <br>
    <hr>
    <a href="~/Account/Profile" class="btn btn-success">Ver Perfil</a>
    <a href="~/Account/AddUsers" class="btn btn-success">Agregar Nuevo</a>
    <a class="btn btn-success">Cambiar Estado de cuenta</a>
    <a class="btn btn-success">Ir al chat</a> 

<div id="users-table">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Email</th>
            <th scope="col">Privilegios</th>
            <th scope="col">Cantidad De Publicaciones</th>
            </tr>
        </thead>
        <tbody id="users-table-body">
        </tbody>
    </table>
</div>  


@section Scripts
{
    <script src="~/js/app/admin/updateNews.js"></script>
    <script>  
        $(()=>{
            getUsers()  
        })

        var accesskeys = []

        function getUsers(){
            var user = {
                first: $('#first').val(),
                last: $('#last').val(),
                email: $('#email').val(),
                username: $('#username').val(),
                pass: $('#pass').val(),
                accessKey: $('#selectedAccess').html()
            }

             $.ajax({
                url: `${URL}/Account/GetAccessKeys`,
                type: 'GET', 
                contentType: 'application/json',
                success: (keys)=>{
                    console.log(keys)
                    accesskeys =  keys
                },
                error: (err)=>{
                    console.error(err)
                }
            })

            $.ajax({
                url: `${URL}/Account/GetAdministrativeUsers`,
                type: 'GET', 
                contentType: 'application/json',
                success: (users)=>{
                    console.log(users)
                    fillTable(users)
                },
                error: (err)=>{
                    console.error(err)
                }
            })
        }

        function fillTable(results){ 
            $('#users-table-body').html("");
            if(results.length <= 0){
                alert('no se encontraron resultados')
            }
            else{ 
                results.forEach((user, index)=>{
                    var row = 
                    `
                        <tr id="row${index}" onclick="selectPost(event)">
                        <th class="id" scope="row">${user.id}</th>
                        <th class="id" scope="row">${user.fullName}</th> 
                        <td class="review">${user.email}</td>  
                        <td class="datetimePosted">${accesskeys.find(x => x.id == user.accessKey).description}</td>
                        <td class="datetimePosted">${user.cantPosts}</td>
                        </tr>
                    `;
                    $('#users-table-body').append(row);
            })
                
            }
        }
    </script> 
}
