@{
    ViewData["Title"] = "Registrar";
}

<h2>Agregar Nuevo Usuario</h2>

<div class="container">
    <form id="register-form">
        <div class="form-group">
                <label for="first">Nombres</label>
                <input type="text" name="first" id="first" class="form-control" aria-describedby="firstHelp" placeholder="Ej: Mateh">
                <small name="firstHelp" id="firstHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label for="last">Apellidos</label>
                <input type="text" name="last" id="last" class="form-control" aria-describedby="lastHelp" placeholder="Ej: Elismar">
                <!-- <small name="lastHelp" id="lastHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" name="username" id="user-name" class="form-control" aria-describedby="usernameHelp" placeholder="Ej: Mateh_Elismar">
                <small name="usernameHelp" id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label for="email">Correo Electronico</label>
                <input type="text" name="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ej: mateh@elismar.com">
                <!-- <small name="emailHelp" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
<!-- Privilegios de Acceso -->
        <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Privilegios de Acceso
                </button>  
                <span id="selectedAccessID" style="color:red;">@ViewBag.AccessKeys[0].id </span> <b id="selectedAccess"> @ViewBag.AccessKeys[0].description</b> 
                <div id="post-status" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @for(int i = 0; i < ViewBag.AccessKeys.Count; i++)
                    {
                        if(i == 0)
                        {
                            //ADD THE SELECTED CATEGORIE CLASS
                            <a id="@ViewBag.AccessKeys[i].id" onclick="changeAccess(event)" class="selectedAccessKey dropdown-item">@ViewBag.AccessKeys[i].description</a> 
                        }
                        else
                        {
                            <a id="@ViewBag.AccessKeys[i].id" onclick="changeAccess(event)" class="dropdown-item">@ViewBag.AccessKeys[i].description</a>
                        }
                    } 
                </div>
           </div>
        <div class="form-group">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" class="form-control" aria-describedby="passHelp" placeholder="Ej: laamo123">
                <!-- <small name="passHelp" id="passHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="pass2">Repite la Contraseña</label>
                <input type="password" name="pass2" id="pass2" class="form-control" aria-describedby="passHelp" >
                <!-- <small name="passHelp" id="passHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div> 
        <a class="btn btn-danger" onclick="register()">Registrar</a>
    </form>
</div>


@section Scripts
{
    <script>
        function register(){
            var user = {
                first: $('#first').val(),
                last: $('#last').val(),
                email: $('#email').val(),
                username: $('#user-name').val(),
                pass: $('#pass').val(),
                accessKey: $('#selectedAccessID').html()
            }
            console.log (user);
            $.ajax({
                url: `${URL}/Account/AddUser`,
                type: 'POST',
                data: JSON.stringify({admin: getUser(), user: user}),
                contentType: 'application/json',
                success: (res)=>{
                    console.log(res)
                    alert('proceso exitoso')
                },
                error: (err)=>{
                    alert('ha ocuarrido algun error, revise la consola de depuracion')
                    console.error(err)
                }
            })
        }
        
        function changeAccess(event){   
            $('.selectedAccessKey').removeClass('selectedAccessKey');
            $('#'+ event.target.id).addClass('selectedAccessKey');
            $('#selectedAccess').html(event.target.innerHTML)  
            $('#selectedAccessID').html(event.target.id) 
            console.log(event.target.id)
        } 

        
    </script>
}